.DS_Store
*.pyc
.pytest_cache/
.venv/
__pycache__/
coverage/
htmlcov/
backend/.coverage
backend/.mypy_cache/
backend/.ruff_cache/
backend/.venv/
*.egg-info/
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/.vercel/
